{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>'użytkownik' albo 'hasło' nieprawidłowe, spróbuj jeszcze raz</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>nie masz uprawnień do tej strony</p>
    {% else %}
    <p>zaloguj się aby wejść</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}
