{% extends "base.html" %}

{% block content %}
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">zapisz nowe hasło</button>
        </form>
{% endblock %}
