<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/120047614f.js" crossorigin="anonymous"></script>
    <title>MIREK_Project!</title>
    <style>
      body {background-color: snow;}
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="{%url 'supervision:allcontrols'%}"><i class="fas fa-clipboard-check"></i>_MIREK_Project
          {% if user.is_authenticated %}
          <p></p>
              <h6>zalogowano: {{ user.get_username }}</h6>
          {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>

            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{%url 'logout'%}">logout</a>
              <a class="nav-item nav-link" href="{%url 'password_change'%}">zmień hasło</a>
            {% else %}
              <a class="nav-item nav-link" href="{%url 'login'%}">login</a>
            {% endif %}

            <a class="nav-item nav-link" href="{%url 'supervision:allcontrols'%}">Wszystkie kontrole</a>
            <a class="nav-item nav-link" href="{%url 'supervision:newcontrol'%}">Nowa kontrola</a>
            <a class="nav-item nav-link" href="{%url 'admin:index' %}">admin</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
          <!-- Navbar content -->
      </nav>

        {% block content %} {% endblock %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
