{% extends 'base.html' %}
<!-- {% load bootstrap4 %}
{% load crispy_forms_tags %} -->

{% block content %}
    <form method="post">
        {% csrf_token %}
        <!-- {% crispy form %} -->
        {{ form.as_p }}
        <p></p>
        <i class="far fa-save"></i>
        <input class="btn btn-success" type="submit" value="Zapisz">
    </form>
    <p></p>
    <i class="fas fa-minus-circle"></i>
<a href="{% url 'supervision:allcontrols'%}"><button type="button" class="btn btn-success">NIE</button></a>
  <p></p>
  {% if control %}
  <i class="fas fa-trash-alt"></i>
<a href="{% url 'supervision:deletecontrol' control.id %}"><button type="button" class="btn btn-danger">USUŃ</button></a>
  {% endif %}
{% endblock %}
