{% extends 'base.html' %}

{% block content %}
<div class="">
  <br>
</div>
<a href="{% url 'supervision:filtercontrols' 'leon2'%}"><button type="button" class="btn btn-success">Leon II</button></a>
<a href="{% url 'supervision:filtercontrols' 'leon4'%}"><button type="button" class="btn btn-success">Leon IV</button></a>
<a href="{% url 'supervision:allcontrols'%}"><button type="button" class="btn btn-success">wszystkie</button></a>

<a href="{% url 'supervision:filtercontrols' 'late'%}"><button type="button" class="btn btn-danger">przepadnięte</button></a>
<a href="{% url 'supervision:filtercontrols' 'incoming'%}"><button type="button" class="btn btn-warning">nadchodzące</button></a>


      <h1>Kontrole:</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Szyb</th>
            <th scope="col">Poziom</th>
            <th scope="col">Urządzenie</th>
            <th scope="col">Ostatnia kontrola</th>
            <th scope="col">Cykl</th>
            <th scope="col">Następna kontrola</th>
            <th scope="col">Wykon</th>
          </tr>
        </thead>
        <tbody>
          {% for control in controls %}
            <tr>

              <td>{{ forloop.counter }} <a href="{% url 'supervision:updatecontrol' control.pk %}"><i class="fas fa-binoculars"></i></a></td>
              <td>{{ control.get_mineshaft_display }}</td>
              <td>{{ control.get_area_display }}</td>
              <td>{{ control.installation }}</td>
              <td>{{ control.last_control_date }}</td>
              <td>{{ control.get_cycle_display }}</td>
              <td>{{ control.next_control_date }}</td>
              <td>{% if control.late_control %}
                    <i class="far fa-thumbs-up"></i>
                  {% else %}
                    <i style="color:red;" class="fas fa-skull-crossbones"></i>
                  {% endif %}
                  <a href="{% url 'supervision:makecontrol' control.pk %}"><i class="fas fa-briefcase"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}
