{% extends 'base.html' %}
<!-- {% load bootstrap4 %}
{% load crispy_forms_tags %} -->

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Wykonałeś kontrolę?</p>
        {{ form.as_p }}
        <p></p>
        <i class="fas fa-check-circle"></i>
        <input class="btn btn-success" type="submit" value="Potwierdź">
    </form>
    <p></p>
    <i class="fas fa-minus-circle"></i>
<a href="{% url 'supervision:allcontrols'%}"><button type="button" class="btn btn-success">NIE</button></a>

{% endblock %}
