{% extends 'base.html' %}
<!-- {% load bootstrap4 %} -->

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Napewno usunąć pozycję ?</p>
        <i class="fas fa-check-circle"></i>
        <input class="btn btn-success" type="submit" value="Usuń">
    </form>
    <p></p>
    <i class="fas fa-minus-circle"></i>
<a href="{% url 'supervision:allcontrols'%}"><button type="button" class="btn btn-success">NIE</button></a>

{% endblock %}
